.navbar-nav li {
 text-transform:uppercase;
}
.navbar {
   background-color:#272822;
}
.section.sidebar {
 background-color:#272822;
 padding:10px 20px;
 border-right-color: #708090
}

.shiny-input-container label {
  font-weight: normal;
  color: #708090;
}

body {
 background-color:#272822;
 color: #708090;
}

.chart-title {
 font-size:19px;
 color:#485c6a;
 border-bottom:none;
 margin-bottom:10px
}

.chart-wrapper {
 border:none;
 padding:10px 20px;
 background-color: #272822
}
.nav-tabs-custom>.nav-tabs>li.active {
 border-top-color:#708090
}

.irs-from,
.irs-to,
.irs-single,
.irs-grid-pol {
 background:#134f55
}
.irs-bar {
 background:#708090;
 border-top-color:#708090;
 border-bottom-color:#708090
}
.irs-bar-edge {
 background:#708090;
 border:1px solid #708090
}
